html{
    height: 100%;
}
body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons{
    background: white;
    color: black;
    border: none;
    padding: 10px 24px;
    font-size: 16px;
    border-radius: 12px;
}

.buttons:hover {
    background-color: lightgray;
    color: black;
  }