html{
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    font-family: "Century Gothic";
}

/*Properties of buttons*/
a{
    text-decoration: none;
}

button{
    width: 50px;
    height: 50px;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    margin: 2px;
    color: transparent;
}

#github{
    background-image: url('/img/github.webp');
}

#instagram{
    background-image: url('/img/instagram.webp');
}

#email{
    background-image: url('/img/email.webp');
}

/*Properties if button is hover*/
button:hover {
    opacity: 40%;
}

/* Mobile CSS */
@media screen and (max-width: 768px){
    body{
        grid-template-columns: 1fr;
    }
}