html{
    min-height: 100%;
    display: grid;
    align-content: center;
}

body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 3vw 10vw;
    color: white;
    font-family: "Century Gothic", sans-serif;
    align-items: center;
}

button{
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    margin: 2px;
}

button:hover {
    opacity: 40%;
}

a{
    text-decoration: none;
}

#immagine{
    margin: 50px;
}

#github{
    background-image: url('/img/github.webp');
}

#instagram{
    background-image: url('/img/instagram.webp');
}

#youtube{
    background-image: url('/img/youtube.webp');
}

#email{
    background-image: url('/img/email.webp');
}

@media screen and (max-width: 768px) and (min-width: 0px){
    body{
        grid-template-columns: 1fr;
    }
}