:root {
    --mainColor: rgb(0, 187, 0);
    --trasparente: rgba(0, 0, 0, 0);
}

html {
    height: 100%;
}

body{
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    font-family: "Century Gothic";
}

#Navbar{
    /*Allinea i bottoni al centro*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*Stile*/
    font-size: 15px;
    background-color: var(--mainColor);
    height: 40px; 
}

button{
    font-size: 18px;
    border: 0px;
    margin: 5px;
    background-color: var(--trasparente);
    border-radius: 10px;
}

button:hover{
    background-color: white;
}

#Titolo{
    width: 190px;
    height: 40px;
    background-image: url("Images/Logo.png");
    color: rgba(0, 0, 0, 0);
}

#Header {
    background-image: url("Images/Header.webp");
    opacity: 70%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#Content{
}

footer{
    /*Dimensioni*/
    width: 100%;
    padding-top: 4px;
    position: absolute;
    bottom: 0;
    /*Stile*/
    background-color: var(--mainColor);
    text-align: center;
}