/* Generale */
body{
    background-color: #1D212B;
    font-family: 'Century Gothic', 'Arial', 'Sans Serif';
}

.container {
    position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#indietro{
    all: unset;

    width: 50px;
    height: 50px;

    background-image: url("/IMG/indietro.png");
    background-size: cover;
}

h1{
    color: white;
}

/* Sezioni - stile comune */
.espandi{
    all: unset;
    background-image: url("../IMG/espandi.webp");
    background-size: cover;

    width: 25px;
    height: 25px;
}

.header{
    display: flex;
    justify-content: space-between;
}

/* Sezioni primarie */
.contenitore-primario{
    background-color: white;
    padding: 10px;
}

/* Sezioni secondarie */
.contenitore-secondario{
    background-color: rgb(229, 229, 229);
    padding: 10px;
}