/* Generale */
body{
    background-color: #1D212B;
    font-family: 'Century Gothic', 'Arial', 'Sans Serif';
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* align horizontal */
    height: 100vh; /* Full height of the viewport */
}

#indietro{
    all: unset;

    width: 50px;
    height: 50px;

    background-image: url("/IMG/indietro.png");
    background-size: cover;
}

h1{
    color: white;
}

.card {
    margin: 0 auto;
}

.col-sm-3.card.p-4{
    border-radius: 20px;
}